.git
.dev
.venv
logs
uce.portal/logs
uce.portal/**/target/**
!uce.portal/uce.web/target/
!uce.portal/uce.web/target/webportal-jar-with-dependencies.jar
!uce.portal/uce.web/target/classes/
!uce.portal/uce.web/target/classes/**
!uce.portal/uce.web/target/dependency/
!uce.portal/uce.web/target/dependency/**
!uce.portal/uce.common/target/
!uce.portal/uce.common/target/classes/
!uce.portal/uce.common/target/classes/**
!uce.portal/uce.search/target/
!uce.portal/uce.search/target/classes/
!uce.portal/uce.search/target/classes/**
!uce.portal/uce.analysis/target/
!uce.portal/uce.analysis/target/classes/
!uce.portal/uce.analysis/target/classes/**
!uce.portal/uce.corpus-importer/target/
!uce.portal/uce.corpus-importer/target/importer.jar
!uce.portal/uce.corpus-importer/target/classes/
!uce.portal/uce.corpus-importer/target/classes/**
uce.portal/uce.corpus-importer/logs
node_modules
