[submodule "uce-postgresql"]
	path = uce-postgresql
	url = https://github.com/dterefe/uce-postgresql.git
[submodule "uce-search-portal"]
	path = uce-search-portal
	url = https://github.com/dterefe/uce-search-portal.git
[submodule "uce-geo-service"]
	path = uce-geo-service
	url = https://github.com/dterefe/uce-geo-service.git
